name: CI for React Native App

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      # Service for running Android Emulator
      docker:
        image: circleci/android:api-30
        options: --privileged

    steps:

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
            node-version: 18.x

